

<ion-view title="Map" back-img="img/bg-10.jpg">
  <ion-nav-buttons side="left">
     <button menu-toggle="left"class="button button-icon"><img src="img/icon.png" width="35px"/></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<br>
	<div class="card" ng-show="offline">
  		<div class="item item-text-wrap item-assertive">
    		You need Internet connection to view maps. Please check your Internet connection and refresh.
  		</div>
	</div>
     <div ng-controller="MapCtrl" id="map-screen" >
		<map zoom="17" center="[9.1912273,12.4997017]">
        	<marker ng-repeat="p in positions" position="{{p}}" title="{{p.toString()}}"></marker>
      	</map>
    </div>

  </ion-content>
</ion-view>
