<ion-view title="Tuition" back-img="img/bg-10.jpg">
  <ion-nav-buttons side="left">
     <button menu-toggle="left"class="button button-icon"><img src="img/icon.png" width="35px"/></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset">
		<h4>FALL & SPRING TUITION AND FEES <br>(2013 - 2014)</h4>
	</div>
  <ion-content class="has-subheader" style="background-color:rgba(255, 255, 255, 0.5);">

	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33"><b>TUITION AND FEES CHARGES</b></div>
    	<div class="col col-20"><b>Fall 2013</b></div>
    	<div class="col col-20"><b>Spring 2014</b></div>
    	<div class="col col-25"><b>FULL YEAR (FALL &SPRING)</b></div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Tuition(15credits load@ N53,000/Credit)</div>
    	<div class="col col-20">795,000</div>
    	<div class="col col-20">795,000</div>
    	<div class="col col-20">1,590,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33"><b>Housing:</b></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Triple Room W/O Facilities</div>
    	<div class="col col-20">180,000</div>
    	<div class="col col-20">180,000</div>
    	<div class="col col-20">360,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Double Room W/O Facilities</div>
    	<div class="col col-20">228,000</div>
    	<div class="col col-20">228,000</div>
    	<div class="col col-20">456,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Triple Room W Facilities</div>
    	<div class="col col-20">250,000</div>
    	<div class="col col-20">250,000</div>
    	<div class="col col-20">500,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Double Room W/Facilities</div>
    	<div class="col col-20">325,000</div>
    	<div class="col col-20">325,000</div>
    	<div class="col col-20">650,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33"><b>Meal Plan:</b></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">7 Meals</div>
    	<div class="col col-20">125,000</div>
    	<div class="col col-20">125,000</div>
    	<div class="col col-20">250,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">14 Meals</div>
    	<div class="col col-20">175,000</div>
    	<div class="col col-20">175,000</div>
    	<div class="col col-20">350,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">21 Meals</div>
    	<div class="col col-20">225,000</div>
    	<div class="col col-20">225,000</div>
    	<div class="col col-20">450,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33"><b>Other Fees:</b></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Housing Damage deposit(New Students only)</div>
    	<div class="col col-20">30,000</div>
    	<div class="col col-20">30,000</div>
    	<div class="col col-20"></div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Health fees</div>
    	<div class="col col-20">5,000</div>
    	<div class="col col-20">5,000</div>
    	<div class="col col-20">10,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">Student Activity</div>
    	<div class="col col-20">12,000</div>
    	<div class="col col-20">12,000</div>
    	<div class="col col-20">24,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33">eBooks</div>
    	<div class="col col-20">45,000</div>
    	<div class="col col-20">45,000</div>
    	<div class="col col-20">90,000</div>
    </div>
	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33"><b>Total Other Fees:</b></div>
    	<div class="col col-20"><b>92,000</b></div>
    	<div class="col col-20"><b>92,000</b></div>
    	<div class="col col-20"><b>154,000</b></div>
    </div>

	<div class="row row-center" style="margin-left:3%;">
    	<div class="col col-33"></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    	<div class="col col-20"></div>
    </div>




  </ion-content>
</ion-view>
